<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Admin</title>
  <!-- Include the Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">

  <div class="bg-white p-8 rounded shadow-md w-96">
    <h2 class="text-2xl font-semibold mb-4">Create Admin</h2>
    <form action="/v1/create-admin" method="post" enctype="multipart/form-data">
      <div class="mb-4">
        <label for="profileImage" class="block text-gray-600 text-sm mb-2">Profile Image:</label>
        <input type="file" id="profileImage" name="profileImage"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500" accept="image/*">
      </div>
      <div class="mb-4">
        <label for="name" class="block text-gray-600 text-sm mb-2">Name:</label>
        <input type="text" id="name" name="name"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500" required>
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-600 text-sm mb-2">Email:</label>
        <input type="text" id="email" name="email"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500" required>
      </div>
      <div class="mb-4">
        <input type="hidden" id="role" name="role"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500" value="ADMIN">
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-600 text-sm mb-2">Password:</label>
        <input type="password" id="password" name="password"
          class="w-full px-3 py-2 border rounded focus:outline-none focus:border-blue-500" required>
      </div>

      <button type="submit"
        class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 focus:outline-none focus:shadow-outline-green">
        Create Admin
      </button>
      <p class="mt-4 font-bold text-green-600">
        <%= msg %>
      </p>
    </form>
  </div>

</body>

</html>